<h1>
  Holdings for <%= @current_user.username %>
</h1>

<a href="/holdings/new">
  Add a new holding
</a>

<hr>

<table class="table">
  <tr>

    <th>
      Ticker
    </th>
    
    <th>
      ETF Name
    </th>
    
    <th>
      Best replacement fund
    </th>

    <th>
    </th>
  </tr>

  <% @my_holdings.each do |holding| %>
  <tr>

    <td>
      <%= Etf.find(holding.fund_id).ticker %>
    </td>
    
    <td>
      <%= Etf.find(holding.fund_id).name %>
    </td>
    
    <td>
      ...Similar placeholder...
    </td>

  </tr>
  <% end %>
</table>
